<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{.Title}}</title>
    <link rel="alternate" type="application/rss+xml" href="/feed" />
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    {{ template "header.gotmpl" . }}

    <section class="hero">
      <h1>{{linkArtist .Artist}} / {{.Album}}</h1>
      <ul class="graph">
        {{ range .Plays }}
        <li style="height: {{ percent . $.MaxPlays }}%;"></li>
        {{ end }}
      </ul>
    </section>

    <section>
      <h2>Tracks</h2>
      <table>
        {{ range .Tracks }}
        <tr>
          <td>{{ if $.ShowArtists }}<span class="artist">{{ linkArtist .Artist }}</span> {{ end }}<span class="track">{{linkTrack .AlbumArtist .Album .Track}}</span></td>
          <td><span class="count">{{.Count}} plays</span></td>
        </tr>
        {{ end }}
      </table>
    </section>
  </body>
</html>
