<header>
  <h1><a href="/">{{.Title}}</a></h1>
  <div>{{.TotalPlays}} plays</div>
  {{ if .NowPlaying }}
  <div class="nowplaying">
    <span class="icon">&#x266B;</span>
    {{linkArtist .NowPlaying.Artist}}
    {{linkTrack .NowPlaying.AlbumArtist .NowPlaying.Album .NowPlaying.Track}}
  </div>
  {{ end }}
</header>
