<li id="{{.Name}}" {{ if .Hide }}class="hide"{{ end }}>
  <table>
    {{ range .Data }}
    <tr>
      <td>
        {{linkArtist .Artist}}
        {{linkTrack .AlbumArtist .Album .Track}}
      </td>
      <td><span class="count">{{.Count}} plays</span></td>
    </tr>
    {{ end }}
  </table>
</li>
